/* * {
    margin: 0;
    padding: 0;
  } */
  
  dt {
    font-size: 18px;
    font-weight: bold;
  }
  
  body{
    background: darkolivegreen;
    color: white;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  table, th, tr, td {
    padding: 8px;
    text-align: center;
    background: darkgray;
    border: 2px solid green;
    border-collapse: collapse;
  }
  
  h3 {
    margin-left: 20px;
    font-size: x-large;
  }